doctype html
html(lang="en")
  head
    title= Graphs
    script(type='text/javascript').
      var ctx = document.getElementById("myChart").getContext("2d");
      var baseData = #{baseData}
      var chartData = {
        labels: baseData.personas.key,
        datasets: [
        {
          label: "My First dataset",
          fillColor: "rgba(220,220,220,0.2)",
          strokeColor: "rgba(220,220,220,1)",
          pointColor: "rgba(220,220,220,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: baseData.personas.values
        }
      ]
      };
      var myRadarChart = new Chart(ctx).Radar(chartData, options);
  body
    canvas#myChart(width='400', height='400')