doctype html
html(lang="en")
  head
    title= Graphs
    script(src='js/Chart.js')
    script(type='text/javascript', src='js/box.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    script(type='text/javascript').
      window.onload = graphIt;
      function graphIt() {
        var baseData = !{JSON.stringify(rawData)};
        var twitter = baseData.twitter;
        var reddit = baseData.reddit;
        var options = {};
        if(twitter.disp) {
          var dataRadarTwit = {
            labels: twitter.personas.key,
            datasets : [
            {
              label: "My First datasets",
              fillColor: "rgba(220,220,220,0.2)",
              strokeColor: "rgba(220,220,220,1)",
              pointColor: "rgba(220,220,220,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: twitter.personas.values
            }
          ]
          };
          var dataDonutTwit = [
            {
              value: twitter.political.values[0],
              color:"#F7464A",
              highlight: "#FF5A5E",
              label: twitter.political.key[0]
            },
            {
              value: twitter.political.values[1],
              color: "#A6CA87",
              highlight: "#B0D68F",
              label: twitter.political.key[1]
            },
            {
              value: twitter.political.values[2],
              color: "#46BFBD",
              highlight: "#5AD3D1",
              label: twitter.political.key[2]
            },
            {
              value: twitter.political.values[3],
              color: "#FDB45C",
              highlight: "#FFC870",
              label: twitter.political.key[3]
            }
          ]
          var ctx1 = document.getElementById("radarChartTwit").getContext("2d");
          var ctx2 = document.getElementById("donutChartTwit").getContext("2d");  
          var ctx3 = document.getElementById("boxTwit").getContext("2d");  
          var twitRadarChart = new Chart(ctx1).Radar(dataRadarTwit, options);
          var twitDonutChart = new Chart(ctx2).Doughnut(dataDonutTwit, options);
          var twitBox = new box(ctx3, twitter.sentiment.values[0]);
        }
        if(reddit.disp) {
          var dataRadarRed = {
            labels: reddit.personas.key,
            datasets : [
            {
              label: "My First datasets",
              fillColor: "rgba(220,220,220,0.2)",
              strokeColor: "rgba(220,220,220,1)",
              pointColor: "rgba(220,220,220,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: reddit.personas.values
            }
          ]
          };
          var dataDonutRed = [
            {
              value: reddit.political.values[0],
              color:"#F7464A",
              highlight: "#FF5A5E",
              label: reddit.political.key[0]
            },
            {
              value: reddit.political.values[1],
              color: "#A6CA87",
              highlight: "#B0D68F",
              label: reddit.political.key[1]
            },
            {
              value: reddit.political.values[2],
              color: "#46BFBD",
              highlight: "#5AD3D1",
              label: reddit.political.key[2]
            },
            {
              value: reddit.political.values[3],
              color: "#FDB45C",
              highlight: "#FFC870",
              label: reddit.political.key[3]
            }
          ]
          var ctx4 = document.getElementById("radarChartRed").getContext("2d");
          var ctx5 = document.getElementById("donutChartRed").getContext("2d");
          var ctx6 = document.getElementById("boxRed").getContext("2d");  
          var redRadarChart = new Chart(ctx4).Radar(dataRadarRed, options);
          var redDonutChart = new Chart(ctx5).Doughnut(dataDonutRed, options);
          var redBox = new box(ctx6, reddit.sentiment.values[0]);      
        }
      }
  body
    .container.row
      .container.col-lg-6
        h3 Twitter Personas
        canvas#radarChartTwit(width='400', height='400')
      .container.col-lg-6
        h3 Reddit Personas
        canvas#radarChartRed(width='400', height='400')
    .container.row
      .container.col-lg-6
        h3 Twitter Politics
        canvas#donutChartTwit(width='400', height='400')
      .container.col-lg-6
        h3 Reddit Politics
        canvas#donutChartRed(width='400', height='400')
    .container.row
      .container.col-lg-6
        h3 Twitter Sentiment (Pos/Neg)
        canvas#boxTwit(width='200', height='200')
          This text is displayed if your browser does not support HTML5 Canvas.
      .container.col-lg-6
        h3 Reddit Sentiment (Pos/Neg)
        canvas#boxRed(width='200', height='200')
          This text is displayed if your browser does not support HTML5 Canvas.

   style.

