html
  head
    meta(http-equiv='Content-Language', content='en-us')
    meta(http-equiv='Content-Type', content='text/html; charset=windows-1252')
    meta(name='AUTHOR', content='Rami McCarthy')
    meta(name='KEYWORDS', content='hackathon')
    meta(name='DESCRIPTION', content="Here is where you put a short sentence or two describing this page and it's goals")
    link(href='custom.css', rel='stylesheet')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    title metric-me
  body
    #header
      h1 metric-me
    #section
      form.pure-form.pure-form-stacked
        fieldset
          label(for='twitter') Twitter
          input#twitter.pure-input-rounded(type='text', placeholder='@username')
          label(for='reddit') Reddit
          input#reddit.pure-input-rounded(type='text', placeholder='username')
          button.pure-button.pure-button-primary(type='submit') Search YO'self
  style.
    #header {
    height: 40px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #24244E;
    border-radius: 25px;
    text-align: center;
    color: #9696AC;
    }
    label {
    text-align: left;
    color: #9696AC;
    font-size: 22px;
    }
    #section {
    top: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    }
    body {
    background-color: #515177;
    }
    table {
    width: 70%;
    height: 40%;
    text-align: center;
    }
    button:hover {
    background: #3cb0fd;
    }
    form {
    display: inline-block;
    text-align: center;
    }

